:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
    --blue: hsl(228, 45%, 44%);
    --mobileSmallFS: 12px;
    --mobileMediumFS: 14px;
    --mobileLargeFS: 20px
}



body {
    font-family: "Figtree", sans-serif;
    background-color: var(--yellow);
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

article {
    background-color: var(--white);
    width: 384px;
    padding: 24px;
    border-radius: 10px;
    outline: 1px solid var(--black);
    box-shadow: var(--black) 8px 8px;
}
article .illustration {
    border-radius: 10px;
}

.content p,h1 {
    margin-top: 12px;
}

.tag {
    background-color: var(--yellow);
    width: fit-content;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 800;
}

.content {
    margin: 24px 0;
}

.content, .author {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
}

.content h1{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 800;
}
.content h1:active {
    color: var(--yellow);
}


.content p:last-child {
    color: var(--grey);
    font-size: 1rem;
}

.author {
    display: flex;
    align-items: center;
    margin-top: 24px;
    color: var(--black);
    font-weight: 800;
}

.author img{
    width: 32px;
    margin-right: 12px;
}

.attribution {
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    margin-top: 12px;
}
.attribution a {
    color: var(--blue)
}

@media (max-width: 430px) {
    article {
        width: 327px;
        margin-right: 24px;
        margin-left: 24px;
    }
    .content {
        font-size: var(--mobileSmallFS);
    }
    .content p:last-child{
        font-size: var(--mobileMediumFS);
    }
    .content h1{
        font-size: var(--mobileLargeFS);
    }
}